*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    margin-right: 300px;
}
.search-right {
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto 1fr;
}
a.search-search span.fa {
    color: var(--text-color);
    font-size: 15px;
    opacity: .7;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background: var(--light-bg-color);
    text-align: center;
    border-radius: 50px;
    border: 1px solid var(--border-color);
}